[submodule "ProtocolModern.Portable"]
	path = ProtocolModern.Portable
	url = https://github.com/MineLibOrg/ProtocolModern.Portable.git
[submodule "ProtocolModern"]
	path = ProtocolModern
	url = https://github.com/MineLib/ProtocolModern.git
	branch = master
[submodule "MineLib.PCL"]
	path = MineLib.PCL
	url = https://github.com/MineLib/MineLib.PCL.git
	branch = master
[submodule "MineLib.Core"]
	path = MineLib.Core
	url = https://github.com/MineLib/MineLib.Core.git
	branch = master
